
.container {
  border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 30px auto;
    background-color: rgb(254, 248, 255);
    border-color: #110d10;
    border-width: 5px;
    font-family: "Crimson Text", serif;
   
}

.App-footer, .App-header {
  text-align: center;
  margin: 30px 0;
  text-decoration: none;
}

.col-5 {
  text-align: center;
}
